<html>
    <head>
        <title>Angular 1.X Eval</title>
        <script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular.min.js"></script>
	    <script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular-route.min.js"></script>
	    <script type="text/javascript" src="index.js"></script>
    </head>
    <body>
        <div ng-app="myapp">
            <div ng-controller="menuCtrl">
                <a href="#home" ng-if="logined">Home</a> 
                <a href="#users" ng-if="logined">Users</a> 
                <a href="#login" ng-if="!logined">Login</a> 
                <a href="#/" ng-if="logined" ng-click="logout()">Logout</a>
            </div>
            <div ng-view="">

            </div>
        </div>
    </body>
</html>